<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Security.Xpo.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpo.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Persistent.Base.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Persistent.BaseImpl.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Xpo.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Security.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraBars.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Win.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Validation.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.ConditionalAppearance.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Notifications.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraGrid.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraEditors.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraRichEdit.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraLayout.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraNavBar.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.RichEdit.v19.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.CodeParser.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Office.v19.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Validation.Win.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.FileAttachment.Win.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Notifications.Win.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.6.0" newVersion="19.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="50cebf1cceb9d05e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.0.0" newVersion="0.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.CodeDom" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Enums.NET" publicKeyToken="7ea1c1650d506225" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fasterflect" publicKeyToken="38d18473284c1ca7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Persistent.Base" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.602.0" newVersion="19.1.602.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ExcelImporter" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.602.0" newVersion="19.1.602.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Xpo" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.602.0" newVersion="19.1.602.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.701.0" newVersion="19.1.701.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Validation.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.701.0" newVersion="19.1.701.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.XAF.Modules.Reactive" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.47.0" newVersion="1.2.47.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Utils" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.602.0" newVersion="19.1.602.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.XAF.Modules.ProgressBarViewItem" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.192.28.0" newVersion="2.192.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.XAF.Modules.CloneModelView" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.192.27.0" newVersion="2.192.27.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.602.0" newVersion="19.1.602.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Validation" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.602.0" newVersion="19.1.602.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.XAF.Modules.MasterDetail" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12.0" newVersion="1.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.XAF.Modules.AutoCommit" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.13.0" newVersion="1.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.XAF.Modules.ViewEditMode" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.61.0" newVersion="1.2.61.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.XAF.Modules.SuppressConfirmation" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12.0" newVersion="1.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.XAF.Modules.HideToolBar" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.192.28.0" newVersion="2.192.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Extensions" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.192.21.0" newVersion="2.192.21.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Extensions.XAF" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.192.20.0" newVersion="2.192.20.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>